{% extends 'layout.twig' %}

{% block title 'Pendientes' %}

{% block contenido %}
    <div class="contenido">

        <form class="formularioTecnicos" action="" method="post">

            {#Accion en caso de instalacion#}
            {% if tipo == 'instalacion' %}

                <div class="vistaCheck">
                    <p class="alert alert-info d-flex justify-content-between align-items-center" ><span>Indique la solución de la incidencia: </span><span class="badge badge-primary">{{ asignada }}</span> </p>
                </div>

                <div class="vistaCheck">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="checkRouterInstalacion" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="checkRouterInstalacion"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router instalado*" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena instalada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-atas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="atas">
                                <label for="toggle-atas"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Ata instalado" disabled>
                    </div>

                </div>

                <div class="vistaCheck">
                    <p class="alert alert-info">(*) Obligatorio</p>
                </div>

                <div class="vistaFormulario">
                    <select name="solucion" id="solucionFinalizar">
                        <option value="Instalacion normal">Instalación normal</option>
                        <option value="Intalacion parcial">Instalacion parcial</option>
                        <option value="otros">otros</option>
                    </select>
                </div>

                <div id="comentarioFinalizarInstalacion" class="vistaCheck">
                    <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                </div>

                <div class="vistaFormulario">
                    <button id="btnInstalacion" class="btn btn-success" type="submit" name="btnConfirmarFinalizar"><i class="fas fa-check"></i> Confirmar instalación</button>
                    <button class="btn btn-warning" type="submit" name="cancelarFinalizar"><i class="fas fa-undo"></i> Volver</button>
                </div>

            {% endif %}

            {#Accion en caso de baja#}

            {% if tipo == 'baja' %}


                <div class="vistaCheck">
                    <p class="alert alert-info d-flex justify-content-between align-items-center" ><span>Indique la solución de la incidencia: </span><span class="badge badge-primary">{{ asignada }}</span> </p>
                </div>

                <div class="vistaCheck">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="checkRouterBaja" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="checkRouterBaja"></label>
                            </div>
                        </div>
                        <input id="routers" type="text" class="form-control" aria-label="Text input with checkbox" value="Router recogido*" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena recogida" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-atas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="atas">
                                <label for="toggle-atas"></label>
                            </div>
                        </div>
                        <input id="atas" type="text" class="form-control" aria-label="Text input with checkbox" value="Ata recogido" disabled>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <select name="solucion" id="solucionFinalizarBaja">
                        <option value="Baja completa">Baja completa</option>
                        <option value="Baja parcial">Baja parcial</option>
                        <option value="otros">otros</option>
                    </select>
                </div>

                <div id="comentarioFinalizar" class="vistaCheck">
                    <label for="comentarioBaja" class="input-group-text">Detalles:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentarioBaja" cols="10" rows="2"></textarea>
                    <p type="text" class="badge badge-danger alerta" id="mensajeBaja"></p>
                </div>


                <div class="vistaCheck">
                    <p class="alert alert-info">* Si no es posible retirar el router, marque la opción baja parcial e indique los detalles.</p>
                </div>
                <div class="vistaFormulario">
                    <button id="btnBaja" class="btn btn-danger" type="submit" name="btnConfirmarFinalizar"><i class="fas fa-check"></i> Confirmar Baja</button>
                    <button class="btn btn-warning" type="submit" name="cancelarFinalizar"><i class="fas fa-undo"></i> Volver</button>
                </div>
            {% endif %}


            {#Accion en caso de averia#}
            {% if tipo == 'averia' %}

                <div class="vistaCheck">
                    <p class="alert alert-info d-flex justify-content-between align-items-center" ><span>Indique la solución de la incidencia: </span><span class="badge badge-primary">{{ asignada }}</span> </p>
                </div>

                <div class="vistaCheck">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio Antena" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-routers" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="toggle-routers"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio router" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-ata" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="atas">
                                <label for="toggle-ata"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio ata" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-conectores" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="conectores">
                                <label for="toggle-conectores"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio de conectores" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-cables" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="cables">
                                <label for="toggle-cables"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio de cable" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-orientacion" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="orientacion">
                                <label for="toggle-orientacion"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Orientación de antena" disabled>
                    </div>

                </div>

                <div id="comentarioAveria" class="vistaCheck">
                    <label for=comentarioAveria class="input-group-text">Detalles:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario" id="comentarioAveria" cols="10" rows="2"></textarea>
                </div>

                <div class="vistaFormulario">
                    <button class="btn btn-success" type="submit" name="btnConfirmarFinalizar"><i class="fas fa-check"></i> Finalizar</button>
                    <button class="btn btn-warning" type="submit" name="cancelarFinalizar"><i class="fas fa-undo"></i> Volver</button>
                </div>
            {% endif %}

            {#Accion en casio de cambio de domicilio#}
            {% if tipo == 'cambiodomicilio' %}

                <div class="vistaCheck">
                    <p class="alert alert-info d-flex justify-content-between align-items-center" ><span>Indique la solución de la incidencia: </span><span class="badge badge-primary">{{ asignada }}</span> </p>
                </div>

                <div class="vistaCheck">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="checkRouterCambioDomicilio" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="router">
                                <label for="checkRouterCambioDomicilio"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router cambiado de domicilio*" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenaR" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenaR">
                                <label for="toggle-antenaR"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena retirada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenaI" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenaI">
                                <label for="toggle-antenaI"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena instalada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-conectores" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="conectores">
                                <label for="toggle-conectores"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Conectores nuevos" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-cable" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="cable">
                                <label for="toggle-cable"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cable nuevo" disabled>
                    </div>

                </div>

                <div class="vistaFormulario">
                    <label for="solucion">Seleccione una solución: </label>
                    <select name="solucion" id="solucionFinalizarCambioDomicilio">
                        <option value="Cambio de domicilio normal">Cambio de domicilio normal</option>
                        <option value="Cambio de domicilio parcial">Cambio de domicilio parcial</option>
                        <option value="otros">otros</option>
                    </select>
                </div>

                <div id="comentarioFinalizarCambioDomicilio" class="vistaCheck">
                    <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                </div>


                <div class="vistaCheck">
                    <p class="alert alert-info">(*) Obligatorio</p>
                </div>

                <div class="vistaFormulario">
                    <button id="btnCambioDomicilio" class="btn btn-info" type="submit" name="btnConfirmarFinalizar"><i class="fas fa-check"></i> Finalizar</button>
                    <button class="btn btn-warning" type="submit" name="cancelarFinalizar"><i class="fas fa-undo"></i> Volver</button>
                </div>
            {% endif %}

            {% if tipo == 'mantenimiento' %}

                <div class="vistaCheck">
                    <div class="input-group mb-3">
                        <label for="solucionFinalizarCambioMantenimiento" class="input-group-text" id="inputGroup-sizing-default">Seleccione una solución:</label>
                        <select id="solucionFinalizarMantenimiento" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="solucion">
                            <option value="Mantenimiento normal">Mantenimiento normal</option>
                            <option value="otros">otros</option>
                        </select>
                    </div>
                </div>

                <div id="comentarioFinalizarMantenimiento" class="vistaCheck">
                    <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                </div>

                <div class="vistaFormulario">
                    <button class="btn btn-dark" type="submit" name="btnConfirmarFinalizar"><i class="fas fa-check"></i> Finalizar</button>
                    <button class="btn btn-warning" type="submit" name="cancelarFinalizar"><i class="fas fa-undo"></i> Volver</button>
                </div>

            {% endif %}



            {#mensajes posibles de error#}
            {% if tipo == 'instalacion' %}
                {% if mensajeFaltaMaterial == 'error' %}
                    <p class="alert alert-danger">No dispones de tanto material</p>
                {% endif %}

                {% if mensajeRouter == 'error' %}
                    <p class="alert alert-danger">No se instaló el router</p>
                {% endif %}
                {##}
                {% if mensajeFaltaCable == 'error' %}
                    <p class="alert alert-danger">No tienes caja de cable asignada, retire una del almacen</p>
                {% endif %}

                {% if mensajeFaltaConector == 'error' %}
                    <p class="alert alert-danger">No tienes bolsa de conectores asignada, retire una del almacen</p>
                {% endif %}
            {% endif %}

            {% if tipo == 'baja' %}
                {% if mensajeBaja == 'materialRecoger' %}
                    <p class="alert alert-danger">No se retiró el router de la instalación</p>
                {% endif %}

                {% if mensajeMaterialCliente == 'error' %}
                    <p class="alert alert-danger">El cliente no dispone de ese material.</p>
                {% endif %}
            {% endif %}

            {% if tipo == 'averia' %}
                {% if mensajeIncidencia == 'error' %}
                    <label class="alert alert-danger">No se pudo actualizar el estado de la incidencia, consulte con un administrador.</label>
                {% endif %}

                {% if mensajeBaja == 'existe' %}
                    <label class="alert alert-danger">Ya existe una solucion para esta incidencia.</label>
                {% endif %}

                {% if mensajeUsuario == 'error' %}
                    <label class="alert alert-danger">Error al desasignar la incidencia al usuario</label>
                {% endif %}

                {% if mensajeFaltaConector == 'error' %}
                    <p class="alert alert-danger">No tiene bolsa de conectores asignada, retire una del almacen</p>
                {% endif %}

                {% if mensajeFaltaCable == 'error' %}
                    <p class="alert alert-danger">No tiene caja de cable asignada, retire una del almacen</p>
                {% endif %}

                {% if mensajeSolucionAveria == 'error' %}
                    <p class="alert alert-danger">Debe indicar una solución</p>
                {% endif %}

                {% if mensajeMaterialPositivo == 'error' %}
                    <p class="alert alert-danger">No dispone de suficiente material para esta solución.</p>
                {% endif %}
            {% endif %}

            {% if tipo == 'cambiodomicilio' %}
                {% if mensajeCambioDomicilio == 'materialnegativo' %}
                    <label class="alert alert-danger">El cliente no dispone de ese material.</label>
                {% endif %}

                {% if mensajeCambioDomicilio == 'materialRecoger' %}
                    <label class="alert alert-danger">No se cambió el router de domicilio</label>
                {% endif %}

                {% if mensajeCambioDomicilio == 'materialfalta' %}
                    <label class="alert alert-danger">El tecnico no dispone de ese material.</label>
                {% endif %}

                {% if mensajeFaltaConector == 'error' %}
                    <p class="alert alert-danger">No tienes bolsa de conectores asignada, retire una del almacen</p>
                {% endif %}

                {% if mensajeFaltaCable == 'error' %}
                    <p class="alert alert-danger">No tienes caja de cable asignada, retire una del almacen</p>
                {% endif %}

            {% endif %}

        </form>
    </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}