{% extends 'layout.twig' %}

{% block title 'Pendientes' %}

{% block contenido %}
    <div class="contenido">
        {% if asignada %}
            {% if asignada == actual  %}
                <label class="alert alert-success">Ya tiene asignada la incidencia {{ actual }}</label>
            {% else %}
                <label class="alert alert-warning">No se pudo asignar la incidencia {{ actual }}, ya tiene un incidencia asignada: {{ asignada }}</label>
            {% endif %}
        {% endif %}

        <form action="" method="post">
            {% if mensaje == 'Si' %}
                <div class="table-responsive-xl">
                    <table id="miTablaControlador" class="table table-responsive-xl table-sm table-bordered miHover">
                        <thead class="miThead">
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Creacion</th>
                            <th>Disponible</th>
                            <th>Otros</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#le pasamos la variable que contiene el array con las filas de la consulta#}
                        {% for fila in arrayFilas %}
                            <tr {% if fila.disponible > fechaActual %} class="pendienteF" {% else %} class="pendienteW" {% endif %} >
                                <td>{{ fila.id_incidencia }}</td>
                                <td>{{ fila.id_cliente }}</td>
                                <td>{{ fila.nombre }}</td>
                                <td>{{ fila.telefono }}</td>
                                <td>{{ fila.fecha_creacion | date ('d/m/y h:i') }}</td>
                                <td>{{ fila.disponible | date ('d/m/y h:i') }}</td>
                                <td>{{ fila.otros }}</td>
                                <td class="td-acciones">
                                    <input type="submit" class="botonAccion btnAceptar" title="Asignar" name="incidencia_aceptar" value={{ fila.id_incidencia }}>
                                    <a href="../cliente/cliente_incidencias_comentario.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnComentario" title="Comentarios"></a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% elseif mensaje == 'No' %}
                <label class="alert alert-primary">No hay tareas pendientes</label>
            {% endif %}
        </form>
    </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}