{% extends 'layout.twig' %}

{% block title 'listado de clientes' %}

{% block contenido %}
    <div class="contenido">

        <form action="" method="get">
            {#Se ocultan ya que el mensaje lo mostraremos por toastr#}
            {% if mensajeCambios == 'No' %}
                <label id="cambiosModificarCliente" hidden>No</label>
            {% elseif mensajeCambios == 'Si' %}
                <label id="cambiosModificarCliente" hidden>Si</label>
            {% elseif mensajeIncidencia == 'Si' %}
                <label id="cambiosIncidencia" hidden>Si</label>
            {% elseif mensajeEliminar == 'Si' %}
                <label id="cambiosEliminar" hidden>Si</label>
            {% endif %}

            <p class="alert alert-primary">Lista de clientes</p>
            <div>
                <button class="btn btn-primary boton" type="submit" name="addCliente" ><i class="fas fa-plus"></i> Añadir cliente</button>
            </div>

            {% if mensaje == 'Ok' %}
                <div class="contenedorTabla">
                    <table id="miTabla" class="table table-bordered table-hover table-sm miTabla table-responsive-xl">
                        <thead class="miThead">
                        <tr>
                            <th>Dni</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Telefono</th>
                            {% if rol == '0' %}
                                <th>Comercial</th>
                                <th>Eliminado</th>
                            {% endif %}
                            <th>Acciones</th>
                        </tr>
                        </thead>

                        {#le pasamos la variable que contiene el array con las filas de la consulta#}
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.dni }}</td>
                                <td>{{ cliente.nombre }}</td>
                                <td>{{ cliente.direccion }}</td>
                                <td>{{ cliente.ciudad }}</td>
                                <td>{{ cliente.telefono }}</td>
                                {% if rol == '0' %}
                                    <td>{{ cliente.nombreComercial }}</td>
                                    <td>{{ cliente.eliminado }}</td>
                                {% endif %}
                                <td class="td-acciones">
                                    <a href="cliente_modificar.php?Id={{ cliente.dni }}"><input type="button" class="botonAccion btnModificar" title="modificar"></a>
                                    <a href="cliente_incidencias.php?dni={{ cliente.dni }}&tipo=1"><input type="button" class="botonAccion btnIncidencias" title="ver incidencias"></a>
                                    <a href="cliente_incidencias_add.php?add={{ cliente.dni }}&tipo=1"><input type="button" class="botonAccion btnNuevaIncidencia" title="nueva incidencia"></a>
                                    {% if rol == '0' %}
                                        <a href="cliente_liberar.php?Id={{ cliente.dni }}&tipo=1"><input type="button" class="botonAccion btnLiberar" title="liberar"></a>
                                    {% endif %}
                                    <a href="cliente_eliminar.php?Id={{ cliente.dni }}"><input type="button" class="botonAccion btnEliminar" title="eliminar"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% elseif mensaje == 'error' %}
                <label class="alert alert-primary">No hay clientes</label>
            {% endif %}

        </form>
    </div>
{% endblock %}

{% block usuario %}
 <span>Conectado como: {{ usuario }}</span>
{% endblock %}