{% extends 'layout.twig' %}

{% block title 'Modificar clientes' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="vistaFormulario">
                <p class="alert alert-info">Introduce los dátos del cliente: </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el dni*:</span>
                    </div>
                    <input id="dni-add-input" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ cliente.dni }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajedniAddInput"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el nombre*:</span>
                    </div>
                    <input id="input-nombre-add" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre" value="{{ cliente.nombre }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeNombreInput"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la dirección*:</span>
                    </div>
                    <select name="tipoD" id="">
                        <option value="">Otros</option>
                        <option value="C/ ">Calle</option>
                        <option value="AVN ">Avenida</option>
                        <option value="PLZA ">Plaza</option>
                        <option value="PSO ">Paseo</option>
                        <option value="CTRA ">Carretera</option>
                        <option value="CMNO ">Camino</option>
                        <option value="URB ">Urbanizazion</option>
                    </select>
                    <input id="input-direccion-add" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="direccion" value="{{ cliente.direccion }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeDireccionInput"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el teléfono*:</span>
                    </div>
                    <input id="input-telefono-add" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="telefono" value="{{ cliente.telefono }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeTelefonoInput"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la ciudad:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ciudad" value="{{ cliente.ciudad }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la provincia:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="provincia" value="{{ cliente.provincia }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el código postal:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cp" value="{{ cliente.cp }}">
                </div>

                {% if rol == '0' %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Router:</span>
                        </div>
                        <input type="number" min="0" max="1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="router" value="{{ cliente.routers }}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Antena:</span>
                        </div>
                        <input type="number" min="0" max="1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="antena" value="{{ cliente.antenas }}">
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Ata:</span>
                        </div>
                        <input type="number" min="0" max="1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ata" value="{{ cliente.atas }}">
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Fecha de  alta:</span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                            <input class="form-control" size="2" type="text" value="{{ cliente.fecha_alta }}" name="alta">
                        </div>
                        <input type="hidden" id="dtp_input1" value="{{ cliente.fecha_alta }}" />
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Fecha de baja:</span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                            <input class="form-control" size="2" type="text" value="{{ cliente.fecha_baja }}" name="baja">
                        </div>
                        <input type="hidden"  id="dtp_input2" value="{{ cliente.fecha_baja }}"/>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Selcciona el comercial:</span>
                        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comercial" id="comercial">
                            <option value="{% if cliente.id_usuario %}{{ cliente.id_usuario }} {% endif %}">
                                {% if cliente.id_usuario %}
                                    {{ cliente.nombreComercial }}
                                {% endif %}
                            </option>
                            <option value=""></option>
                            {% for comercial in comerciales %}
                                <option value="{{ comercial.dni }}">{{ comercial.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Eliminado:</span>
                        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="eliminado" id="eliminado">
                            <option value="{% if cliente.eliminado == 'Si' %}Si{% else %}No{% endif %}">
                                {% if cliente.eliminado == 'Si' %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </option>
                            <option value="{% if cliente.eliminado == 'Si' %}No{% else %}Si{% endif %}">
                                {% if cliente.eliminado == 'Si' %}
                                    No
                                {% else %}
                                    Si
                                {% endif %}
                            </option>
                        </select>
                    </div>
                {% endif %}
                <p class="alert alert-info">(*) Campos obligatorios: </p>
            </div>

            <div class="vistaCheck">
                <button id="btnAddCliente" class="btn btn-primary" type="submit" name="btnModificar"><i class="fas fa-edit"></i> Modificar</button>
                <button class="btn btn-primary" type="submit" name="btnCancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>

            <div class="vistaFormulario">
                {% if mensajeValidacionVacios == 'vacios' %}
                    <p class="alert alert-warning">Hay campos obligatorios vacios</p>
                {% endif %}

                {% if mensajeDniMinimo == 'error' %}
                    <p class="alert alert-warning">El dni introducido no es válido</p>
                {% endif %}

                {% if mensajeValidacionTelefono == 'telefonoNoValido' %}
                    <p class="alert alert-warning">El teléfono introducido no es válido</p>
                {% endif %}

                {% if mensajeDniExiste == 'error' %}
                    <p class="alert alert-danger">El dni introducido ya existe</p>
                {% endif %}

            </div>
        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}