{% extends 'layout.twig' %}

{% block title 'Comentarios' %}

{% block contenido %}

    <div class="contenidoInfo">
        <form class="formInfo" action="" method="post">
            <div class="">
                <ul class="list-group">
                    <li class="alert alert-info list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                        <div>
                            Datos de la incidencia:
                            {% if incidencia.urgente == 'Si' %}
                                <span class="badge badge badge-danger">URGENTE</span>
                            {% endif %}
                        </div>
                        {% if (rol == '4' or rol == '0') and incidencia.estado == '0' %}
                        <div>
                            <a href="../controlador/controlador_confirmar_tecnicos.php?Id={{ incidencia.id_incidencia }}&tipo=0"><input type="button" class="botonAccion btnTecnico" title="Enviar a tecnicos"></a>
                            <a href="../controlador/controlador_confirmar_finalizar.php?Id={{ incidencia.id_incidencia }}&tipo=0"><input type="button" class="botonAccion btnAceptar" title="Finalizar"></a>
                        </div>
                        {% endif %}
                        <button class="btn btn-primary" type="submit" name="btnVolver"><i class="fas fa-undo"></i> Volver</button>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                      <span>Incidencia número:</span>
                    </div>

                        <span class="badge badge-primary">{{ incidencia.id_incidencia }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Comercial:</span>
                        <span>{{ comercial.nombre }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Cliente:</span>
                        <span>{{ cliente.nombre }}</span>
                    </li>
                    {% if tecnico.nombre %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Técnico:</span>
                        <span>{{ tecnico.nombre }}</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Fecha de creación:</span>
                        <span>{% if incidencia.fecha_creacion %} {{ incidencia.fecha_creacion | date ('d/m/y H:i') }} {% endif %}</span>
                    </li>
                    {% if incidencia.fecha_inicio %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Fecha de inicio:</span>
                        <span>{{ incidencia.fecha_inicio | date ('d/m/y H:i') }}</span>
                    </li>
                    {% endif %}
                    {% if incidencia.fecha_resolucion %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Fecha de resolución:</span>
                            <span>{% if incidencia.fecha_resolucion %}{{ incidencia.fecha_resolucion | date ('d/m/y H:i') }} {% endif %}</span>
                        </li>
                    {% endif %}
                    {% if incidencia.estado != '3' and incidencia.disponible %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Disponible a partir de:</span>
                        {% if incidencia.disponible < fechaActual  %}
                        <span class="badge badge-success">{{ incidencia.disponible | date ('d/m/y H:i') }}</span>
                        {% else %}
                        <span class="badge badge-warning">{{ incidencia.disponible | date ('d/m/y H:i')}}</span>
                        {% endif %}

                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Tipo:</span>
                        <span
                                {% if incidencia.tipo == 'instalacion' %}
                                    class="badge badge-primary"
                                {% elseif incidencia.tipo == 'baja' %}
                                    class="badge badge-danger"
                                {% elseif incidencia.tipo == 'averia' %}
                                    class="badge badge-warning"
                                {% elseif incidencia.tipo == 'cambiodomicilio' %}
                                    class="badge badge-info"
                                {% endif %}
                        >
                                {% if incidencia.tipo == 'instalacion' %}
                                    Instalación
                                {% elseif incidencia.tipo == 'baja' %}
                                    Baja
                                {% elseif incidencia.tipo == 'averia' %}
                                    Averia
                                {% elseif incidencia.tipo == 'cambiodomicilio' %}
                                    Cambio de domicilio
                                {% endif %}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Estado:</span>
                        <span
                                {% if incidencia.estado == '0' %}
                                    class="badge badge-light"
                                {% elseif incidencia.estado == '1' %}
                                    class="badge badge-info"
                                {% elseif incidencia.estado == '2' %}
                                    class="badge badge-warning"
                                {% elseif incidencia.estado == '3' %}
                                    class="badge badge-success"
                                {% elseif incidencia.estado == '4' %}
                                    class="badge badge-dark"
                                {% elseif incidencia.estado == '5' %}

                                {% endif %}

                        >
                              {% if incidencia.estado == '0' %}
                                  No asignada
                              {% elseif incidencia.estado == '1' %}
                                  Activa
                              {% elseif incidencia.estado == '2' %}
                                  Asignada
                              {% elseif incidencia.estado == '3' %}
                                  Finalizada
                              {% elseif incidencia.estado == '4' %}
                                  Finalizada parcial
                              {% elseif incidencia.estado == '5' %}
                                  No se pudo contactar con el cliente
                              {% endif %}
                        </span>
                    </li>
                    {% if incidencia.parcial == 'Si'%}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Fecha parcial:</span>
                            <span class="badge badge-dark">{% if incidencia.fecha_parcial %} {{ incidencia.fecha_parcial | date ('d/m/y H:i') }} {% endif %}</span>
                        </li>
                    {% endif %}
                    {% if incidencia.reincidencia > 0 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Reincidencia:</span>
                        <span class="badge badge-danger">{{ incidencia.reincidencia }}</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Llamada obligatoria (técnico):</span>
                        <span
                            {% if incidencia.llamada_obligatoria == 'No' %}
                                class="badge badge-danger"
                            {% elseif incidencia.llamada_obligatoria == 'Si' %}
                                class="badge badge-success"
                            {% endif %}
                        >{{ incidencia.llamada_obligatoria }}</span>
                    </li>
                    {% if incidencia.antenas %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            {% if incidencia.tipo == 'instalacion' %}
                                Antenas instaladas:
                            {% elseif incidencia.tipo =='baja' %}
                                Antenas retiradas:
                            {% else %}
                                Antenas:
                            {% endif %}
                        </span>
                        <span class="badge badge-primary">
                            {% if incidencia.antenas < 0 %}
                                {{ incidencia.antenas * (-1) }}
                            {% elseif incidencias.antenas >= 0 %}
                                {{ incidencia.antenas }}
                            {% endif %}
                        </span>
                    </li>
                    {% endif %}
                    {% if incidencia.routers %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            {% if incidencia.tipo == 'instalacion' %}
                                Routers instalados:
                            {% elseif incidencia.tipo =='baja' %}
                                Routers retirados:
                            {% else %}
                                Routers:
                            {% endif %}
                        </span>
                        <span class="badge badge-primary">
                            {% if incidencia.routers < 0 %}
                                {{ incidencia.routers * (-1) }}
                            {% elseif incidencias.routers >= 0 %}
                                {{ incidencia.routers }}
                            {% endif %}
                        </span>
                    </li>
                    {% endif %}
                    {% if incidencia.atas %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            {% if incidencia.tipo == 'instalacion' %}
                                Atas instalados:
                            {% elseif incidencia.tipo =='baja' %}
                                Atas retirados:
                            {% else %}
                                Atas:
                            {% endif %}
                        </span>
                        <span class="badge badge-primary">
                            {% if incidencia.atas < 0 %}
                                {{ incidencia.atas * (-1) }}
                            {% elseif incidencias.atas >= 0 %}
                                {{ incidencia.atas }}
                            {% endif %}
                        </span>
                    </li>
                    {% endif %}
                    {% if incidencia.estado == '3' %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Tiempo de solución:</span>
                        <span>{{ tiempoResolucion }}</span>
                    </li>
                        {% if incidencia.fecha_inicio %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Tiempo de solución Técnico:</span>
                            <span>{{ tiempoResoluciondos }}</span>
                        </li>
                        {% endif %}

                        {% if incidencia.estado == '3' and tecnicoSolucion %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Solución:</span>
                                <a href="#" data-toggle="modal" data-target="#myModal2">Pulsa para ver la solución</a>
                            </li>
                        {% endif %}

                    {% endif %}
                </ul>
                 {% if incidencia.otros %}
                    <ul class="list-group">
                        <li class="alert alert-info list-group-item list-group-item-secondary">Información sobre la incidencia:</li>
                        <li class="list-group-item liArea"><p class="pArea">{{ incidencia.otros }}</p></li>
                    </ul>
                {% endif %}
                <ul class="list-group">
                    <li class="alert alert-info list-group-item list-group-item-secondary">Datos del cliente:</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Dni:</span>
                        <span>{{ cliente.dni }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Nombre:</span>
                        <span>{{ cliente.nombre }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Dirección:</span>
                        <span>{{ cliente.direccion }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Teléfono:</span>
                        <span>{{ cliente.telefono }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Ciudad:</span>
                        <span>{{ cliente.ciudad }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Cp:</span>
                        <span>{{ cliente.cp}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Provincia:</span>
                        <span>{{ cliente.provincia}}</span>
                    </li>
                </ul>
                {% if tecnico.dni %}
                    <ul class="list-group">
                        <li class="alert alert-info list-group-item list-group-item-secondary">Datos del técnico:</li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Dni:</span>
                            <span>{{ tecnico.dni }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Usuario:</span>
                            <span>{{ tecnico.usuario }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Nombre:</span>
                            <span>{{ tecnico.nombre }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Teléfono:</span>
                            <span>{{ tecnico.telefono }}</span>
                        </li>
                    </ul>
                {% endif %}
                <ul class="list-group">
                    <li class="alert alert-info list-group-item list-group-item-secondary">Datos del comercial:</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Dni:</span>
                        <span>{{ comercial.dni }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Usuario:</span>
                        <span>{{ comercial.usuario }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Nombre:</span>
                        <span>{{ comercial.nombre }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Teléfono:</span>
                        <span>{{ comercial.telefono }}</span>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="modal" id="myModal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p class="alert alert-info">Solucion de la incidencia: {{ incidencia.id_incidencia }}</p>

                                {% for elemento in listaSolucion %}
                                    <p>{{ elemento }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="historial">
            <label class="alert alert-info">Historial incidencias del cliente, última incidencia del cliente: <a href="../cliente/cliente_incidencias_info.php?tipo=0&Id={{ ultimaIncidencia }}">{{ ultimaIncidencia }}</a></label>
            <div class="contenedorTabla">
                <table class="table table-bordered table-sm miTabla table-responsive-xl">
                    <thead class="miThead">
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>InfoComercial</th>
                        <th>Solucion</th>
                    </tr>
                    </thead>

                    {% for incidencia in historialIncidencias %}
                        <tr>
                            <td><a href="../cliente/cliente_incidencias_info.php?tipo=0&Id={{ incidencia.id_incidencia }}">{{ incidencia.id_incidencia }}</a></td>
                            <td>{% if incidencia.fecha_creacion %} {{ incidencia.fecha_creacion | date ('d/m/y H:i') }} {% endif %}</td>
                            <td>{{ incidencia.info }}</td>
                            <td>{{ incidencia.solucion }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}