{% extends 'layout.twig' %}

{% block title 'Comentarios' %}

{% block contenido %}

    <div class="contenido">
        <form action="" method="post">

            {% if mensaje == 'error' %}
                <label class="alert alert-primary">No hay comentarios para la incidencia número: <span class="badge badge-primary">{{ idIncidencia }}</span></label>
            {% else %}
                <label class="alert alert-primary">Lista de comentarios de la incidencia número: <span class="badge badge-primary">{{ idIncidencia }}</span></label>
            {% endif %}

            <div class="vistaInfo">
                <a href="javascript:history.back()"><button class="btn btn-warning" type="button"><i class="fas fa-undo"></i> Volver</button></a>
            </div>

            {% if mensaje == 'Ok' %}
                <div class="contenedorTabla">
                    <table id="" class="table table-bordered table-responsive-xl miHover">
                        <thead class="miThead">
                        <tr>
                            <th>Técnico</th>
                            <th>Comentario</th>
                            <th>Creación</th>
                        </tr>
                        </thead>

                        {#le pasamos la variable que contiene el array con las filas de la consulta#}
                        {% for comentario in comentarios %}
                            <tr>
                                <td>{{ comentario.tecnico }}</td>
                                <td>{{ comentario.texto }}</td>
                                <td>{% if comentario.fecha %}{{ comentario.fecha | date ('d/m/y H:i') }} {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

        </form>
    </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}