{% extends 'layout.twig' %}

{% block title 'listado de clientes' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="vistaFormulario">
                <p class="alert alert-info">Introduce los dátos del cliente: </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el dni*:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ cliente.dni }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el nombre*:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre" value="{{ cliente.nombre }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la dirección*:</span>
                    </div>
                    <select name="tipoD" id="">
                        <option value="">Otros</option>
                        <option value="C/ ">Calle</option>
                        <option value="AVN ">Avenida</option>
                        <option value="PLZA ">Plaza</option>
                        <option value="PSO ">Paseo</option>
                        <option value="CTRA ">Carretera</option>
                        <option value="CMNO ">Camino</option>
                        <option value="URB ">Urbanizazion</option>
                    </select>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="direccion" value="{{ cliente.direccion }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la ciudad:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ciudad" value="{{ cliente.ciudad }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la provincia:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="provincia" value="{{ cliente.provincia }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el código postal:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cp" value="{{ cliente.cp }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el teléfono:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="telefono" value="{{ cliente.telefono }}">
                </div>
                {% if rol == '0' %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Introduce el comercial:</span>
                            <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comercial" id="comercial">
                                <option value="{% if cliente.id_usuario %}{{ cliente.id_usuario }} {% endif %}">
                                    {% if cliente.id_usuario %}
                                        {{ cliente.nombreComercial }}
                                    {% endif %}
                                </option>
                                <option value=""></option>
                                {% for comercial in comerciales %}
                                    <option value="{{ comercial.dni }}">{{ comercial.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Eliminado:</span>
                            <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="eliminado" id="eliminado">
                                <option value="{% if cliente.eliminado == 'Si' %}Si{% else %}No{% endif %}">
                                    {% if cliente.eliminado == 'Si' %}
                                        Si
                                    {% else %}
                                        No
                                    {% endif %}
                                </option>
                                <option value="{% if cliente.eliminado == 'Si' %}No{% else %}Si{% endif %}">
                                    {% if cliente.eliminado == 'Si' %}
                                        No
                                    {% else %}
                                        Si
                                    {% endif %}
                                </option>
                            </select>
                        </div>
                    </div>
                {% endif %}
                <p class="alert alert-info">(*) Campos obligatorios: </p>
            </div>

            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="btnModificar"><i class="far fa-edit"></i> Modificar</button>
                <button class="btn btn-primary" type="submit" name="btnCancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}