{% extends 'layout.twig' %}

{% block title 'listado de clientes' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="vistaFormulario">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Dni:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ cliente.dni }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Nombre:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre" value="{{ cliente.nombre }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la Dirección:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="direccion" value="{{ cliente.direccion }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la Ciudad:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ciudad" value="{{ cliente.ciudad }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Teléfono:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="telefono" value="{{ cliente.telefono }}">
                </div>
                {% if rol == '0' %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Comercial:</span>
                            <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comercial" id="comercial">
                                <option value="{% if cliente.id_usuario %}{{ cliente.nombreComercial }} {% endif %}">
                                    {% if cliente.id_usuario %}
                                        {{ cliente.nombreComercial }}
                                    {% else %}
                                        Elija un comercial:
                                    {% endif %}
                                </option>
                                <option value=""></option>
                                {% for comercial in comerciales %}
                                    <option value="{{ comercial.dni }}">{{ comercial.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Eliminado:</span>
                            <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="eliminado" id="eliminado">
                                <option value="{% if cliente.eliminado == 'Si' %}Si{% else %}No{% endif %}">
                                    {% if cliente.eliminado == 'Si' %}
                                        Si
                                    {% else %}
                                        No
                                    {% endif %}
                                </option>
                                <option value="{% if cliente.eliminado == 'Si' %}No{% else %}Si{% endif %}">
                                    {% if cliente.eliminado == 'Si' %}
                                        No
                                    {% else %}
                                        Si
                                    {% endif %}
                                </option>
                            </select>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="grupoFB">
                <input class="btn btn-primary" type="submit" value="Modificar" name="btnModificar">
                <input class="btn btn-primary" type="submit" value="Cancelar" name="btnCancelar">
            </div>


            {% if mensaje == 'error' %}
                <p class="alert alert-warning">Error al modificar el cliente {{ mensaje }}</p>
            {% endif %}

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}