{% extends 'layout.twig' %}

{% block title 'Búsqueda de clientes' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="vistaFormulario">
                <p class="alert alert-info">Búsqueda de clientes</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el DNI del cliente:</span>
                    </div>
                    <input id="dniBuscarInput" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ dni }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajedniBuscarInput"></p>
                </div>
            </div>

            <div class="vistaFormulario">
                <button id="btnBuscar" class="btn btn-primary" type="submit" name="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                <button class="btn btn-primary" type="submit" name="btnCancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>
            {% if mensaje == 'ok' %}
                {% if cliente.id_usuario %}
                    {% if rol == '0' %}
                        <p class="alert alert-danger">Cliente: {{ dni }} ya existe y está asocidado a un comercial.</p>
                    {% elseif rol == '1' %}
                        <p class="alert alert-danger">Cliente: {{ dni }} ya existe, pero está asociado a un comercial, para más información contacte con un administrador</p>
                    {% endif %}
                {% else %}
                    {% if rol == '1' %}

                        <div class="vistaFormulario">
                            <p class="alert alert-warning">Cliente: {{ dni }} ya existe, pero no esta asocidado a ningún comercial, ¿desea añadirlo?</p>
                        </div>
                        <div class="vistaFormularioXS">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="checkInstalacion" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="instalacionAuto" checked>
                                        <label for="checkInstalacion"></label>
                                    </div>
                                </div>
                                <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Añadir instalación" disabled>
                            </div>
                        </div>
                        <div class="vistaFormularioXS" id="comentarioInstalacion">
                            <div id="comentarioInstalacion">
                                <label class="input-group-text">Comentario de la instalación:</label>
                                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario" cols="10" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="vistaFormulario">
                            <input class="btn btn-success" type="submit" name="btnAddSi" value="Si">
                            <input class="btn btn-danger" type="submit" name="btnAddNo" value="No">
                        </div>

                    {% elseif rol == '0' %}
                        <p class="alert alert-warning">Cliente: {{ dni }} ya existe, pero no esta asocidado a ningún comercial.</p>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if rol == '1' %}
                {% if mensajeUpdate == 'error' %}
                    <p class="alert alert-danger">Error al asignar al cliente: {{ dni }} para mas informacion contacte con el administrador</p>
                {% endif %}

                {% if mensajeIncidencia == 'error' %}
                    <p class="alert alert-danger">Error al crear la instalación del cliente: {{ dni }} intente añadirla manualmente, si no es posible contacte con el administrador.</p>
                {% endif %}
            {% endif %}

            {% if mensajeDniNoValido == 'error' %}
                <p class="alert alert-danger">El dni no es válido</p>
            {% endif %}

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}