{% extends 'layout.twig' %}

{% block title 'incidencias del cliente' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="">
                {% if tipo == '1' %}
                    <p class="alert alert-primary">Incidencias del cliente: <span class="badge badge-primary">{{ nombreCliente }}, {{ dniCliente }}</span></p>
                {% elseif tipo == '0' %}
                    <p class="alert alert-primary">Todas las incidencias</p>
                {% endif %}
            </div>

            {% if tipo == '1' %}
                <div class="vistaCheck">
                    <button class="btn btn-primary" type="submit" name="btnAdd"><i class="fas fa-plus"></i> Nueva Incidencia</button>
                    <button class="btn btn-primary" type="submit" name="btnVolver"><i class="fas fa-undo"></i> Volver</button>
                </div>
            {% endif %}

            {% if mensaje == 'Si' %}
                <div class="contenedorTabla">
                    <table id="miTablaControlador" class="table table-bordered table-sm miTabla table-responsive-xl">
                        <thead class="miThead">
                        <tr>
                            {#Vista para el administrador#}
                            {% if rol == '0' %}
                                <th>Id</th>
                                <th>Cliente</th>
                                <th>Población</th>
                                <th>Técnico</th>
                                <th>Creación</th>
                                <th>Resolución</th>
                                <th>Disponible</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                            {% endif %}
                            {#Vista para el comercial#}
                            {% if rol == '1' %}
                                <th>Id</th>
                                <th>Cliente</th>
                                <th>Técnico</th>
                                <th>Población</th>
                                <th>Creación</th>
                                <th>Resolución</th>
                                <th>Disponible</th>
                                <th>Tipo</th>
                                {#<th>Otros</th>#}
                                <th>Acciones</th>
                            {% endif %}
                            {#Vista para el controlador#}
                            {% if rol == '4' %}
                                <th>Cliente_Dni</th>
                                <th>Cliente_Nombre</th>
                                <th>Cliente_Telefono</th>
                                <th>Cliente_Ciudad</th>
                                <th>Info</th>
                                <th>Acciones</th>
                            {% endif %}

                        </tr>
                        </thead>

                        {#le pasamos la variable que contiene el array con las filas de la consulta#}
                        {% for fila in arrayFilas %}
                            <tr
                                    {% if fila.estado == '3' %}
                                        class="terminada"
                                    {% elseif fila.estado == '2' %}
                                        class="asignada"
                                    {% elseif fila.estado == '1' %}
                                        class="activa"
                                    {% elseif fila.estado == '0' %}
                                        class="no-asignada"
                                    {% elseif fila.estado == '4' %}
                                        class="parcial"
                                    {% endif %}
                            >
                                {% if rol == '0' %}
                                    <td>{{ fila.id_incidencia }}</td>
                                    <td>{{ fila.ncliente }}</td>
                                    <td>{{ fila.poblacion }}</td>
                                    <td>{{ fila.ntecnico }}</td>
                                    <td>{% if fila.fecha_creacion %} {{ fila.fecha_creacion | date ('d/m/y H:i')}} {% endif %}</td>
                                    <td>{% if fila.fecha_resolucion %}  {{ fila.fecha_resolucion | date ('d/m/y H:i')}} {% endif %}</td>
                                    <td {% if fila.disponible > fechaActual and fila.estado != '3' %}  class="pendienteF" {% elseif fila.disponible <= fechaActual and fila.estado != '3'  %} class="pendienteW"  {% endif %} >{% if fila.disponible %}  {{ fila.disponible | date ('d/m/y H:i')}} {% endif %}</td>
                                    <td>
                                        {% if fila.tipo == 'averia' %}
                                            Averia
                                        {% elseif fila.tipo == 'cambiodomicilio' %}
                                            Cambio de domicilio
                                        {% elseif fila.tipo == 'baja' %}
                                            Baja
                                        {% elseif fila.tipo == 'instalacion' %}
                                            Instalación
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if rol == '1' %}
                                    <td>{{ fila.id_incidencia }}</td>
                                    <td>{{ fila.ncliente }}</td>
                                    <td>{{ fila.ntecnico }}</td>
                                    <td>{{ fila.poblacion }}</td>
                                    <td>{% if fila.fecha_creacion %} {{ fila.fecha_creacion | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{% if fila.fecha_resolucion %} {{ fila.fecha_resolucion | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td {% if fila.disponible > fechaActual and fila.estado != '3' %}  class="pendienteF" {% elseif fila.disponible <= fechaActual and fila.estado != '3'  %} class="pendienteW"  {% endif %} >{% if fila.disponible %}  {{ fila.disponible | date ('d/m/y H:i')}} {% endif %}</td>
                                    <td>
                                        {% if fila.tipo == 'averia' %}
                                            Averia
                                        {% elseif fila.tipo == 'cambiodomicilio' %}
                                            Cambio de domicilio
                                        {% elseif fila.tipo == 'baja' %}
                                            Baja
                                        {% elseif fila.tipo == 'instalacion' %}
                                            Instalación
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if rol == '4' %}
                                    <td>{{ fila.id_cliente }}</td>
                                    <td>{{ fila.nombreCliente }}</td>
                                    <td>{{ fila.telefono }}</td>
                                    <td>{{ fila.ciudad }}</td>
                                    <td>{{ fila.otros }}</td>
                                {% endif %}

                                {% if rol == '0' or rol == '4' %}
                                    <td class="td-acciones">
                                        {% if fila.estado == '0' %}
                                            <a href="../controlador/controlador_confirmar_tecnicos.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnTecnico" title="Enviar a tecnicos"></a>
                                        {% endif %}
                                        {% if fila.estado == '0' or (fila.estado == '1' and fila.tipo == 'averia')%}
                                            <a href="../controlador/controlador_confirmar_finalizar.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnAceptar" title="Finalizar"></a>
                                        {% endif %}
                                        {% if rol == '0' and fila.estado == '2' %}
                                            <a href="../tecnico/tecnico_finalizar_autorizar.php?Id={{ fila.id_incidencia }}&tipo={{ fila.tipo }}&cliente={{ fila.id_cliente }}&usuario={{ fila.tecnico }}&modo=0"><input type="button" class="botonAccion btnAceptar" title="Finalizar"></a>
                                        {% endif %}
                                        {% if rol == '0' %}
                                            <a href="../cliente/cliente_incidencias_info.php?Id={{ fila.id_incidencia }}&tipo=0&o=0"><input type="button" class="botonAccion btnInfo" title="Más informacion"></a>
                                        {% else %}
                                            <a href="../cliente/cliente_incidencias_info.php?Id={{ fila.id_incidencia }}&o=0"><input type="button" class="botonAccion btnInfo" title="Más informacion"></a>
                                        {% endif %}
                                        {% if rol == '0' and  fila.estado != '3' %}
                                            <a href="../cliente/cliente_incidencias_disponible.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnDispobible" title="Modificar fecha"></a>
                                        {% endif %}
                                        {% if rol == '0' and  (fila.estado == '0' or fila.estado == '1' or fila.estado == '2' or fila.estado == '4') %}
                                            <a href="../cliente/cliente_incidencias_reasignar.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnReasignar" title="Cambiar Técnico"></a>
                                        {% endif %}
                                        {% if rol == '0' and  (fila.estado == '0' or fila.estado == '1') %}
                                            <a href="../cliente/cliente_incidencias_eliminar.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnEliminar" title="Eliminar incidencia"></a>
                                        {% endif %}
                                        {% if rol == '0' and (fila.estado == '1' or fila.estado == '2' or fila.estado == '0') %}
                                            <a href="../cliente/cliente_incidencias_urgente.php?Id={{ fila.id_incidencia }}&tipo=3"><input type="button" {% if fila.urgente == 'Si' %} class="botonAccion btnUrgenteSi" {% else %} class="botonAccion btnUrgenteNo" {% endif %} title="Urgente"></a>
                                        {% endif %}
                                        {% if rol == '4' and (fila.estado == '0' or fila.estado == '1' or fila.estado == '2' ) %}
                                            <a href="#"><input type="button" {% if fila.urgente == 'Si' %} class="botonAccion btnUrgenteSi" {% else %} class="botonAccion btnUrgenteNo" {% endif %} title="Urgente"></a>
                                        {% endif %}
                                        {% if rol == '0' or rol == '4' %}
                                            <a href="../cliente/cliente_incidencias_comentario.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnComentario" title="Comentarios"></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if rol == '1' %}
                                    <td class="td-acciones">
                                        {% if fila.estado == '3' %}
                                            <a href="../cliente/cliente_incidencias_solucion.php?Id={{ fila.id_incidencia }}"><input type="button" class="botonAccion btnSolucion" title="Solucion"></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% elseif mensaje == 'No' %}
                <div class="vistaFomulario">
                    {% if rol == '0' %}
                        {% if tipo == '1' %}
                            <p class="alert alert-primary">El cliente: <span class="badge badge-primary">{{ nombreCliente }},{{ dniCliente }}</span>, no tiene incidencias en este momento</p>
                        {% elseif tipo == '0' %}
                            <p class="alert alert-danger">Sin incidencias</p>
                        {% endif %}

                    {% elseif rol == '4' %}
                        <p class="alert alert-primary">En este momento no hay incidencias para mostrar</p>
                    {% endif %}
                </div>
            {% endif %}
        </form>

    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}