{% extends 'layout.twig' %}

{% block title 'Informes' %}

{% block contenido %}
    <div class="contenido">
        <form action="" method="post">

            {% if vista == 'botones' %}
            <div class="vistaFormularioXL">
                <ul class="list-group">
                    {#1#}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Clientes dados de baja con material: </span>
                        <button class="btn btn-info btnInforme" type="submit" name="bajaMaterial"><i class="fas fa-search"></i></button>
                    </li>
                    {#2#}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span>Incidencias del cliente: </span>
                            <select name="dniCliente" id="miselect">
                                <option value="">Selecciona un cliente:</option>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.dni }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button class="btn btn-info" type="submit" name="incidenciasCliente"><i class="fas fa-search"></i></button>
                    </li>
                    {#3#}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span for="miselect">Clientes dados de baja en: </span>
                            <select name="limite" id="miselect">
                                {% for i in 0..6 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <span> meses </span>
                        </div>
                        <button class="btn btn-info" type="submit" name="clientesBajaTiempo"><i class="fas fa-search"></i></button>
                    </li>
                    {#4#}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span for="miselect">Clientes dados de baja entre: </span>
                        <div>
                            <span>año:</span>
                            <select name="anioI" id="aniosI">
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                            </select>
                            <span>mes:</span>
                            <select name="mesI" id="mesesI">
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <label for="">/</label>
                        <div>
                            <span>año:</span>
                            <select name="anioD" id="aniosI">
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                            </select>
                            <span>mes:</span>
                            <select name="mesD" id="mesesI">
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="submit" name="clientesBajaFechas"><i class="fas fa-search"></i></button>
                    </li>
                    {#5#}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span>Flujo incidencias para los tecnicos </span>
                        </div>
                        <button class="btn btn-info" type="submit" name="flujoIncidencias"><i class="fas fa-search"></i></button>
                    </li>
                </ul>
            </div>

            {% endif %}

            {% if vista == 'consulta' %}
                <div class="vistaFormulario">
                    <button id="btnAddCliente" class="btn btn-primary" type="submit" name="btnVolver"><i class="fas fa-undo"></i> Volver</button>
                </div>

                {% if consulta == '1' %}

                <div class="contenedorTabla">
                    <table id="miTabla" class="table table-bordered table-sm miTabla table-responsive-xl">
                        <thead class="miThead">
                        <tr>
                            <th>Dni</th>
                            <th>Nombre</th>
                            <th>Antenas</th>
                            <th>Routers</th>
                            <th>Telefono</th>
                            <th>Tipo</th>
                        </tr>
                        </thead>

                        {#le pasamos la variable que contiene el array con las filas de la consulta#}
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.dni }}</td>
                                <td>{{ cliente.nombre }}</td>
                                <td>{{ cliente.antenas }}</td>
                                <td>{{ cliente.routers }}</td>
                                <td>{{ cliente.telefono }}</td>
                                <td>{{ cliente.tipo }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}

                {% if consulta == '2' %}
                    <div class="contenedorTabla">

                        <div class="vistaFormulario">
                            <p class="alert alert-info">Incidencias del cliente: <span class="badge badge-primary">{{ nombreCliente }}</span></p>
                        </div>

                        <table id="miTablaControlador" class="table table-bordered table-sm miTabla table-responsive-xl">
                            <thead class="miThead">
                            <tr>
                                <th>Id</th>
                                <th>usuario</th>
                                <th>Tecnico</th>
                                <th>Creación</th>
                                <th>Inicio</th>
                                <th>Resolución</th>
                                <th>Disponible</th>
                                <th>Tipo</th>
                            </tr>
                            </thead>
                            {% for incidencia in incidencias %}
                                <tr
                                        {% if incidencia.estado == '3' %}
                                            class="terminada"
                                        {% elseif incidencia.estado == '2' %}
                                            class="asignada"
                                        {% elseif incidencia.estado == '1' %}
                                            class="activa"
                                        {% elseif incidencia.estado == '0' %}
                                            class="no-asignada"
                                        {% elseif incidencia.estado == '4' %}
                                            class="parcial"
                                        {% endif %}
                                >
                                    <td><a href="../cliente/cliente_incidencias_info.php?Id={{ incidencia.id_incidencia }}">{{ incidencia.id_incidencia }}</a></td>
                                    <td>{{ incidencia.id_usuario }}</td>
                                    <td>{{ incidencia.tecnico }}</td>
                                    <td>{% if incidencia.fecha_creacion %} {{ incidencia.fecha_creacion | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{% if incidencia.fecha_inicio %} {{ incidencia.fecha_inicio | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{% if incidencia.fecha_resolucion %} {{ incidencia.fecha_resolucion | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td {% if incidencia.disponible > fechaActual and incidencia.estado != '3' %}  class="pendienteF" {% elseif incidencia.disponible <= fechaActual and incidencia.estado != '3'  %} class="pendienteW"  {% endif %} >{% if incidencia.disponible %} {{ incidencia.disponible | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{{ incidencia.tipo }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

                {% if consulta == '3' %}
                    <div class="vistaFormularioXL">
                        {% for mes in arraymeses %}
                            {% if mes.valor > 0 %}
                                <ul class="list-group">
                                    <li class="alert alert-info list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                        <span class="badge badge-secondary">{{ mes.mes }}{% if mes.mes == 1 %} mes {% else %} meses {% endif %}</span>
                                        <span class="badge badge-primary">Total: {{ mes.valor }}</span>
                                    </li>

                                </ul>
                                <table class="table table-bordered table-sm miTabla table-responsive-xl">
                                    <thead class="miThead">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Alta</th>
                                        <th>Baja</th>
                                        <th>Comercial</th>
                                        <th>Telefono</th>
                                    </tr>
                                    </thead>

                                    {#le pasamos la variable que contiene el array con las filas de la consulta#}
                                    {% for cliente in mes.clientes %}
                                        <tr>
                                            <td>{{ cliente.nombre }}</td>
                                            <td>{{ cliente.fecha_alta | date ('d/m/y')}}</td>
                                            <td>{{ cliente.fecha_baja | date ('d/m/y')}}</td>
                                            <td>{{ cliente.id_usuario }}</td>
                                            <td>{{ cliente.telefono }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if consulta == '4' %}
                    <p class="alert alert-info">En este apartado vemos como seria el flujo de incidencias para los técnicos</p>
                    <div class="contenedorTabla">
                        <table id="miTablaControlador" class="table table-bordered table-sm miTabla table-responsive-xl">
                            <thead class="miThead">
                            <tr>
                                <th>Id</th>
                                <th>Comercial</th>
                                <th>Cliente</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Inicio</th>
                                <th>Disponible</th>
                                <th>Tipo</th>
                                <th>Urgente</th>
                            </tr>
                            </thead>

                            {#le pasamos la variable que contiene el array con las filas de la consulta#}
                            {% for incidencia in incidencias %}
                                <tr>
                                    <td>{{ incidencia.id_incidencia }}</td>
                                    <td>{{ incidencia.id_usuario }}</td>
                                    <td>{{ incidencia.id_cliente }}</td>
                                    <td>{% if incidencia.fecha_creacion %} {{ incidencia.fecha_creacion | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{% if incidencia.fecha_inicio %} {{ incidencia.fecha_inicio | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{% if incidencia.fecha_disponible %} {{ incidencia.disponible | date ('d/m/y H:i') }} {% endif %}</td>
                                    <td>{{ incidencia.tipo }}</td>
                                    <td>{{ incidencia.urgente }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

            {% endif %}


            {% if vista == 'botones' %}
                {% if mensaje == 'error' %}
                    <label class="alert alert-warning">No hay resultados</label>
                {% endif %}
            {% endif %}


        </form>
    </div>
{% endblock %}

 {% block usuario %}
     <span>Conectado como: {{ usuario }}</span>
 {% endblock %}