{% extends 'layout.twig' %}

{% block title 'Modificar Usuarios' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">

            <div class="vistaFormulario">
                <p class="alert alert-info">Introduce los dátos del usuario</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el dni*:</span>
                    </div>
                    <input id="usuarioDniAdd" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ datosUsuario.dni }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeDniAdd"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Usuario*:</span>
                    </div>
                    <input id="usuarioUsuarioAdd" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nUsuario" value="{{ datosUsuario.usuario }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeUsuarioAdd"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Nombre*:</span>
                    </div>
                    <input id="usuarioNombreAdd" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre" value="{{ datosUsuario.nombre }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeNombreAdd"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el Teléfono*:</span>
                    </div>
                    <input id="usuarioTelefonoAdd" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="telefono" value="{{ datosUsuario.telefono }}">
                    <p type="text" class="badge badge-danger alerta" id="mensajeTelefonoAdd"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la Contraseña:</span>
                    </div>
                    <input id="usuarioClaveAdd" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="password">
                    <p type="text" class="badge badge-danger alerta" id="mensajeClaveAdd"></p>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Vuelve a introducir la Contraseña: </span>
                    </div>
                    <input id="usuarioClaveRAdd" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="passwordR">
                    <p type="text" class="badge badge-danger alerta" id="mensajeClaveRAdd"></p>
                </div>

                {% if rolUsuario == '2' %}

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Número de antenas*:</span>
                        </div>
                        <input id="usuarioAntenas" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="antenas" value="{{ datosUsuario.antenas }}">
                        <p type="text" class="badge badge-danger alerta" id="mensajeAntenas"></p>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Número de routers*:</span>
                        </div>
                        <input id="usuarioRouters" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="routers" value="{{ datosUsuario.routers }}">
                        <p type="text" class="badge badge-danger alerta" id="mensajeRouters"></p>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Número de atas*:</span>
                        </div>
                        <input id="usuarioAtas" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="atas" value="{{ datosUsuario.atas }}">
                        <p type="text" class="badge badge-danger alerta" id="mensajeAtas"></p>
                    </div>


                    <div class="input-group mb-3">
                        <label for="limite" class="input-group-text" id="inputGroup-sizing-default">Límite de material:</label>
                        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="limite" id="limite">
                            <option value="{{ datosUsuario.limite }}">{{ datosUsuario.limite }}</option>
                            {% for i in 1..20 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                {% endif %}
            </div>

            <div class="vistaFormulario">
                <p class="alert alert-info">(*) Campos obligatorios</p>
            </div>

            <div class="vistaFormulario">
                <button id="btnUsuarioModificar" class="btn btn-success" type="submit" name="btnModificar"><i class="fas fa-edit"></i> Modificar</button>
                <button class="btn btn-warning" type="submit" name="cancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>

            {% if mensajeDniExiste == 'error' %}
                <p class="alert alert-danger">El dni ya existe</p>
            {% endif %}

            {% if mensajeDniMinimo == 'error' %}
                <p class="alert alert-danger">El dni no es válido</p>
            {% endif %}

            {% if mensajeClaveNoValida == 'error' %}
                <p class="alert alert-danger">la clave debe tener al menos 5 caracteres</p>
            {% endif %}

            {% if mensajeClaveNoCoincide == 'error' %}
                <p class="alert alert-danger">la clave no coincide</p>
            {% endif %}

            {% if mensajeUsuarioExiste == 'error' %}
                <p class="alert alert-danger">El usuario ya existe</p>
            {% endif %}

            {% if mensajeUsuarioMinimo == 'error' %}
                <p class="alert alert-danger">El usuario no es válido</p>
            {% endif %}

            {% if mensajeTelefoNoValido == 'error' %}
                <p class="alert alert-danger">El teléfono no es válido</p>
            {% endif %}

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}